# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea/
.vscode/
*.iml
*.iws
*.ipr
build/
.dart_tool/
.packages
.pub-cache/
.pub/
/android/app/build/
/android/app/src/main/gen/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/Pods/
/ios/Runner.xcworkspace/
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Flutter/ephemeral/
/macos/Pods/
/linux/flutter/ephemeral/
/windows/flutter/ephemeral/
